*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
body{
    background: linear-gradient(#111,#222);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
body::after{
    content: '';
    width: 100%;
    height: 100%;
    background-color: red;
    position: absolute;
    clip-path: circle(40% at right 70% );
    z-index: -1;
}
.container{
    width: 80%;
    height: 80%;
    background: rgba(255,255,255,0.1 );
    border-radius: 20px;
    overflow: hidden;
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 20px  0;
    margin: auto;
}
 nav .logo{
    color: aliceblue;
    font-size: 32px;
    font-weight: 700;
    text-decoration: none;
    letter-spacing: 3px;
}
nav ul li  {
    display: inline-block;
   margin: 0 6px;

}
nav ul li a {
    color: aliceblue;
    text-decoration: none; 
font-size: 20px;
font-weight: 500;
}
nav ul li a:hover{
    color: #e80202;
}
.content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 80%;
    margin: auto;
}
.content .text{
    color: aliceblue;
    width: 40%; 
}
.content .text h2{
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;

}
.content .text  p{font-size: 18px;
letter-spacing: 1px;
line-height: 25px;
margin: 10px ;

} 
.content .img{
    width: 40%;
}
.content .img img{
    width: 400px;
}

@media screen and (max-width: 992px) {
    .content .img img{
        width: 330px;
    }
  }
  
  /* On screens that are 600px or less, set the background color to olive */
  @media screen and (max-width: 600px) {
    .content  {
        flex-direction: column;
        justify-content: center;
    }
   .content .img, .content .text{  width: 100%;
   }
  }